/* Method to declare your own fonts */
@font-face 
{
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}
    @font-face 
{
    font-family: OpenSans;
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}
    @font-face 
{
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

    @font-face 
{
    font-family: west;
    src: url(../assets/fonts/Westroon.otf);
}



/* Some simple CSS rules for styling p, h1 to h6, etc. in the main
content’s container */
p 
{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 
{
    /*font-family: 'Oswald', sans-serif;*/
    font-family: west;
}

/* CSS rule to style the mobile logo */
.logo 
{
    margin-top: 3px;
}
    
.logo h1 
{
    font-family: cocaColaFont; /* You don't need to repeat this for each
    media query as it is propagated */
    font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 
{
    font-family: cocaColaFont;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 
{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p 
{
    font-size: 7px; /* You may have to tweak this to get a good fit */
    margin-top: 22px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}


/* This is the CSS class used to style the div where the X3D is being placed. */
.model3D  {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
}

/* We are also, for debug purposes, overridng the border of the X3D box so that we can see it is positioned within the model3D class box correctly */
X3D, x3d {
    background-color: rgba(255, 255, 255, 0.0); /* Adjust the transparency to bring the color forward */
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
    
}


.bgImage {
    position: relative;
    z-index: 1;
    padding: 0px;
}

/* Transparent background image with depth idex set to place image behind the foreground block elements */
.bgImage .bgdrpepper {
    position: absolute;
    z-index: -1;
    background-image: url(../assets/images/site_images/Background_Image);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    /* Change the size of the background image for different media break points */
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(39, 36, 36); */
}

.bgImage .bgCoke {
    position: absolute;
    z-index: -1;
    background-image: url(../assets/images/site_images/Background_Image);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    /* Change the size of the background image for different media break points */
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(39, 36, 36); */
}

.bgImage .bgpepsi {
    position: absolute;
    z-index: -1;
    background-image: url(../assets/images/site_images/Background_Image);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    /* Change the size of the background image for different media break points */
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(39, 36, 36); */
}

.img-thumbnail {
    background-color: #ffffff;
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}


.gallery .img-thumbnail{
    background-color: rgba(255, 255, 255, 0.0);
    padding: 0.25rem;
    margin: 5px;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 43%;
    height: auto;
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
    color: green;
    border: 1px solid transparent;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* border-radius: .25rem; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) 
{
    
    /* X-Small devices (portrait phones, less than 576px)No media query for `xs` since this is the default in Bootstrap*/

    body 
    {

        background-color: rgb(245, 188, 182);
    }

    .main_contents
    {
        margin-top: 20px;;
        margin-bottom: 10px;
    }

    /* New CSS rules to better position the navbar and increase its height,Bootstrap defaults tend to make your site look like a Bootstrap clone!*/
    /* CSS rule to overwrite the navbar background and border color — again,helps to stop your site looking like a Bootstrap clone!*/
    .navbar_coca_cola 
    {
        background-color: #760003; /* Set navbar background color */
        /* border-color: yellow; Sets the navbar border color */
        /* border-style: solid; */
        border-width: 0px;
        min-height: 70px;
    }
    /* CSS rule to overwrite the navbar-brand font color*/

    .navbar_coca_cola .navbar-brand 
    {
        color: rgb(245, 235, 235);
    }

    /* CSS rule to overwrite the navbar-brand font hover color*/

    .navbar_coca_cola .navbar-brand:hover 
    {
        color: rgb(0, 123, 255);
    }

    #main_3d_image 
    {
        background-image: url(../assets/images/site_images/main_3D.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        /* The div block for the main_3d_image has no vertical size,
        so we need a height to see the background image */
        height: 200px;
        bottom: 20px;
        top: 20px;
    }

    #main_text 
    {
        /*float: left;*/
        position:absolute;
        left:0px;
        top:50px;
        margin: 5%;
        width: 90%;
        display: block;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        border-radius: 5px;
    }
        
    #main_text h2 
    {
        color: #760003;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    #main_text h3 
    {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #main_text p 
    {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }

    .card {
        /* border-radius: .25rem; */
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(202, 181, 181);
    }

    /* NAVIGATION MENU*/
    /* CSS rules to overwrite the position of the Bootstrap menu. These are derived from the Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU
    There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
    */
    .navbar_coca_cola .navbar-nav > li > a 
    {
        color: white;
    }
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */

    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(0, 123, 255);
    }

    .navbar_coca_cola .navbar-nav .nav-item 
    {
    margin-top: 0px;
    }
    /* CSS rule to overwrite the bootstrap.css rules for setting the active
    font color and background colour
    */
    .navbar_coca_cola .navbar-nav .nav-item > .active,
    .navbar_coca_cola .navbar-nav > .active > a:hover,
    .navbar_coca_cola .navbar-nav > .active > a:focus 
    {
    color: #760003; /* Font color for active font */
    background-color: #e98074; /* Blue color for background */
    }
    /* A set of CSS rules to change the Bootstrap defaults for the menu link
    text color, hover, background, focus
    */
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: #e98074;
    }

    /* These next two CSS rules control the style of the icon bar */ 

    .navbar_coca_cola .navbar-toggler 
    { 

        border-color: white; 

    } 



    .navbar_coca_cola  .navbar-toggler-icon 
    { 

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 

    } 

    /* Let's style the dropdown menu */ 

    .dropdown-menu 
    { 

        text-align: -webkit-left; 

        background-color: #990005; 

        margin-top: 20px; /* Experiment to move the dropdown menu down */ 

    } 



    .dropdown-menu .dropdown-item 
    { 

        color: #ffffff; 

    } 



    .dropdown-menu .dropdown-item:hover 
    { 

        color: #030303; 

        background-color: #e98074; 

    }

    .navbar_coca_cola .navbar-toggler 
    { 

        outline: none !important; 

    } 

    .btn-primary
    {
        background-color: #760003;
    }

        /* CSS rule to style the footer */ 

    .footer 
    { 

        background-color: #257600; 

        height: 60px; 

    } 

    

    .navbar-text > a 
    { 

        font-size: 10px; 

    } 

    

    .navbar-text > p 
    { 

        color: rgb(228, 75, 15); 

        font-size: 18px; 

    } 

    /* Lifted form the bootsrap.css file, and modified to emulate the nav-bar menu styling */
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
        color:  #760003; /* Font color for active font */
        background-color: #3399ff; /* Blue color for background */
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .nav-tabs .nav-link {
        color: white;  
        border: 1px solid transparent;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    /* Added this to emulate the nav-bar link styling */
    .nav-tabs .nav-link:hover {
        color: green;
        border: 1px solid transparent;
    }
    

    .copyright 
    { 

        padding-top: 20px; 

    } 

    

    .social 
    { 

        padding-top: 7px; 

    } 

    .footer { 

        color: #030303; 
    
        background-color: #760003; /* Set navbar footer background color same as header */ 
    
        height: 50px; 
    
    } 
    
    
    
    .navbar-text > a { 
    
        font-size: 10px; 
    
    } 
    
    
    
    .navbar-text > p { 
    
        color: rgb(255, 255, 255); 
    
        font-size: 14px; 
    
        text-decoration: none; 
    
    } 
    
    
    
    .copyright { 
    
        padding-top: 8px; 
    
    } 
    
    
    
    .social { 
    
        padding-top: 0px; 
    
         
    
    }


    #card-text_bottom
    {

        background-color: rgb(118,0,3);
        color: #ffffff;
        padding: 0.5rem;
    }

    .model3D  {
        height: 310px;
    }

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 768px) 
{ 
    body 
    {
        background-color: rgb(132, 205, 155);
    }

    .main_contents
    {
        margin-top: 20px;;
        margin-bottom: 10px;
    }

    /* New CSS rules to better position the navbar and increase its height,Bootstrap defaults tend to make your site look like a Bootstrap clone!*/
    /* CSS rule to overwrite the navbar background and border color — again,helps to stop your site looking like a Bootstrap clone!*/
    .navbar_coca_cola 
    {
        background-color: #145d18; /* Set navbar background color */
        /* border-color: yellow; Sets the navbar border color */
        /* border-style: solid; */
        border-width: 0px;
        min-height: 70px;
    }
    /* CSS rule to overwrite the navbar-brand font color*/

    .navbar_coca_cola .navbar-brand 
    {
        color: rgb(245, 235, 235);
    }

    /* CSS rule to overwrite the navbar-brand font hover color*/

    .navbar_coca_cola .navbar-brand:hover 
    {
        color: green;
    }

    #main_3d_image 
    {
        background-image: url(../assets/images/site_images/main_3D_green.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* The div block for the main_3d_image has no vertical size,
        so we need a height to see the background image */
        height: 200px;
        bottom: 20px;
        top: 20px;
    }

    #main_text 
    {
        position:absolute;
        left:40px;
        top:30px;
        margin: 0%;
        width: 100%;
        display: block;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        border-radius: 5px;
    }
        
    #main_text h2 
    {
        color: green;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    #main_text h3 
    {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #main_text p 
    {
        font-size: 12px;
        margin: 0px;
        line-height: 1.2;
    }

    .card {
        /* border-radius: .25rem; */
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(218, 216, 148);
    }

    /* NAVIGATION MENU*/
    /* CSS rules to overwrite the position of the Bootstrap menu. These are derived from the Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU
    There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
    */
    .navbar_coca_cola .navbar-nav > li > a 
    {
        color: white;
    }
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */

    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: green;
    }

    .navbar_coca_cola .navbar-nav .nav-item 
    {
    margin-top: 0px;
    }
    /* CSS rule to overwrite the bootstrap.css rules for setting the active
    font color and background colour
    */
    .navbar_coca_cola .navbar-nav .nav-item > .active,
    .navbar_coca_cola .navbar-nav > .active > a:hover,
    .navbar_coca_cola .navbar-nav > .active > a:focus 
    {
    color: #ffffff; /* Font color for active font */
    background-color: rgb(132, 205, 155); /* Blue color for background */
    }
    /* A set of CSS rules to change the Bootstrap defaults for the menu link
    text color, hover, background, focus
    */
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(8, 49, 114);
    }

    /* These next two CSS rules control the style of the icon bar */ 

    .navbar_coca_cola .navbar-toggler 
    { 

        border-color: white; 

    } 



    .navbar_coca_cola  .navbar-toggler-icon 
    { 

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 

    } 

    /* Let's style the dropdown menu */ 

    .dropdown-menu 
    { 

        text-align: -webkit-left; 

        background-color: green; 

        margin-top: 20px; /* Experiment to move the dropdown menu down */ 

    } 



    .dropdown-menu .dropdown-item 
    { 

        color: #ffffff; 

    } 



    .dropdown-menu .dropdown-item:hover 
    { 

        color: #030303; 

        background-color: rgb(132, 205, 155); 

    }

    .navbar_coca_cola .navbar-toggler 
    { 

        outline: none !important; 

    } 

    .btn-primary
    {
        background-color: green;
    }

        /* CSS rule to style the footer */ 

    .footer 
    { 

        background-color: #257600; 

        height: 60px; 

    } 

    

    .navbar-text > a 
    { 

        font-size: 10px; 

    } 

    

    .navbar-text > p 
    { 

        color: rgb(8, 49, 114); 

        font-size: 18px; 

    } 

    

    .copyright 
    { 

        padding-top: 20px; 

    } 

    

    .social 
    { 

        padding-top: 7px; 

    } 

    .footer { 

        color: #030303; 
    
        background-color: green; /* Set navbar footer background color same as header */ 
    
        height: 50px; 
    
    } 
    
    
    
    .navbar-text > a { 
    
        font-size: 10px; 
    
    } 
    
    
    
    .navbar-text > p { 
    
        color: rgb(255, 255, 255); 
    
        font-size: 14px; 
    
        text-decoration: none; 
    
    } 
    
    
    
    .copyright { 
    
        padding-top: 8px; 
    
    } 
    
    
    
    .social { 
    
        padding-top: 0px; 
    
         
    
    }


    #card-text_bottom
    {

        background-color: rgb(20,93,24);
        color: #ffffff;
        padding: 0.5rem;
        font-size: 10px;
    }

    .model3D  {
        height: 350px;
    }

}


/* Large devices (desktops, 992px and up) */
@media(min-width: 768px) and (max-width: 992px) 
{
    body 
    {
        background-color: rgb(139, 190, 221);
    }

    .main_contents
    {
        margin-top: 0px;;
        margin-bottom: 10px;
    }

    /* New CSS rules to better position the navbar and increase its height,Bootstrap defaults tend to make your site look like a Bootstrap clone!*/
    /* CSS rule to overwrite the navbar background and border color — again,helps to stop your site looking like a Bootstrap clone!*/
    .navbar_coca_cola 
    {
        background-color: #0182e4; /* Set navbar background color */
        /* border-color: yellow; Sets the navbar border color */
        /* border-style: solid; */
        border-width: 0px;
        min-height: 70px;
    }
    /* CSS rule to overwrite the navbar-brand font color*/

    .navbar_coca_cola .navbar-brand 
    {
        color: rgb(245, 235, 235);
    }

    /* CSS rule to overwrite the navbar-brand font hover color*/

    .navbar_coca_cola .navbar-brand:hover 
    {
        color: #94d1ff;
    }

    #main_3d_image 
    {
        bottom: 20px;
        top: 20px;
        background-image: url(../assets/images/site_images/main_3D_blue.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* The div block for the main_3d_image has no vertical size,
        so we need a height to see the background image */
        height: 200px;
    }

    #main_text 
    {
        margin: 0%;
        width: 90%;
        display: block;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        border-radius: 5px;
    }
        
    #main_text h2 
    {
        color: #0182e4;
        font-size: 25px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #main_text h3 
    {
        font-size: 18px;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    #main_text p 
    {
        font-size: 14px;
        margin-top: 17px;
        line-height: 1.2;
    }

    .card {
        /* border-radius: .25rem; */
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(185, 185, 178);
    }

    /* NAVIGATION MENU*/
    /* CSS rules to overwrite the position of the Bootstrap menu. These are derived from the Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU
    There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
    */
    .navbar_coca_cola .navbar-nav > li > a 
    {
        color: white;
    }
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */

    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(11, 101, 227);
    }

    .navbar_coca_cola .navbar-nav .nav-item 
    {
    margin-top: 0px;
    }
    /* CSS rule to overwrite the bootstrap.css rules for setting the active
    font color and background colour
    */
    .navbar_coca_cola .navbar-nav .nav-item > .active,
    .navbar_coca_cola .navbar-nav > .active > a:hover,
    .navbar_coca_cola .navbar-nav > .active > a:focus 
    {
    color: #ffffff; /* Font color for active font */
    background-color: rgb(11, 101, 227); /* Blue color for background */
    }
    /* A set of CSS rules to change the Bootstrap defaults for the menu link
    text color, hover, background, focus
    */
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(8, 49, 114);
    }

    /* These next two CSS rules control the style of the icon bar */ 

    .navbar_coca_cola .navbar-toggler 
    { 

        border-color: white; 

    } 



    .navbar_coca_cola  .navbar-toggler-icon 
    { 

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 

    } 

    /* Let's style the dropdown menu */ 

    .dropdown-menu 
    { 

        text-align: -webkit-right; 

        background-color: #0182e4; 

        margin-top: 20px; /* Experiment to move the dropdown menu down */ 

    } 



    .dropdown-menu .dropdown-item 
    { 

        color: #ffffff; 

    } 



    .dropdown-menu .dropdown-item:hover 
    { 

        color: #030303; 

        background-color: rgb(11, 101, 227); 

    }

    .navbar_coca_cola .navbar-toggler 
    { 

        outline: none !important; 

    } 

    .btn-primary
    {
        background-color: #0182e4;
    }

        /* CSS rule to style the footer */ 

    .footer 
    { 

        background-color: #257600; 

        height: 60px; 

    } 

    

    .navbar-text > a 
    { 

        font-size: 10px; 

    } 

    

    .navbar-text > p 
    { 

        color: rgb(8, 49, 114); 

        font-size: 18px; 

    } 

    

    .copyright 
    { 

        padding-top: 20px; 

    } 

    

    .social 
    { 

        padding-top: 7px; 

    } 

    .footer 
    { 

        color: #030303; 
    
        background-color: rgb(11, 101, 227); /* Set navbar footer background color same as header */ 
    
        height: 50px; 
    
    } 
    
    
    
    .navbar-text > a 
    { 
    
        font-size: 10px; 
    
    } 
    
    
    
    .navbar-text > p 
    { 
    
        color: rgb(255, 255, 255); 
    
        font-size: 14px; 
    
        text-decoration: none; 
    
    } 
    
    
    
    .copyright 
    { 
    
        padding-top: 8px; 
    
    } 
    
    
    
    .social 
    { 
    
        padding-top: 0px; 
    }

    #card-text_bottom
    {

        background-color: rgb(1,130,228);
        color: #ffffff;
        padding: 0.5rem;
        font-size: 10px;
    }

    .model3D  {
        height: 400px;
    }

    
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) 
{  
    body 
    {
        background-color: rgb(215, 215, 215);
    }

    .main_contents
    {
        margin-top: 0px;;
        margin-bottom: 10px;
    }

    /* New CSS rules to better position the navbar and increase its height,Bootstrap defaults tend to make your site look like a Bootstrap clone!*/
    /* CSS rule to overwrite the navbar background and border color — again,helps to stop your site looking like a Bootstrap clone!*/
    .navbar_coca_cola 
    {
        background-color: #ffffff; /* Set navbar background color */
        /* border-color: yellow; Sets the navbar border color */
        /* border-style: solid; */
        border-width: 0px;
        min-height: 70px;
    }
    /* CSS rule to overwrite the navbar-brand font color*/

    .navbar_coca_cola .navbar-brand 
    {
        color: rgb(0, 0, 0);
    }

    /* CSS rule to overwrite the navbar-brand font hover color*/

    .navbar_coca_cola .navbar-brand:hover 
    {
        color: #b64a4a;
    }

    #main_3d_image 
    {
        bottom: 20px;
        top: 20px;
        left:10px;
        background-image: url(../assets/images/site_images/main_3D_white.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* The div block for the main_3d_image has no vertical size,
        so we need a height to see the background image */
        height: 400px;
        border-radius: 20px;
    }

    #g
    {
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 76%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%);
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

    #main_text 
    {
        background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 76%,rgba(0,0,0,0) 94%,rgba(0,0,0,0) 100%);
        float: left; 
        margin: 0%; 
        width: 100%;
        height: 100%; 
        display: block;
        padding: 10px;
        border-radius: 5px;
    }

    
    #main_text h2 
    {
        color: #ffffff;
        font-size: 40px;
        margin-top: 70px;
        margin-left: 50px;
        margin-bottom: 5px;
    }

    #main_text h3 
    {
        color: #ffffff;
        font-size: 35px;
        margin-top: 20px;
        margin-left: 50px;
        margin-bottom: 5px;
    }

    #main_text p 
    {
        color: #ffffff;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 50px;
        line-height: 1.2;
    }

    .card {
        /* border-radius: .25rem; */
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: rgb(185, 185, 178);
    }

    .card-img-top
    {
        
        border-top-left-radius: 10px;
        border-top-right-radius:20px;
    }

    /* NAVIGATION MENU*/
    /* CSS rules to overwrite the position of the Bootstrap menu. These are derived from the Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU
    There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
    */

    .navbar-nav 
    {
        margin-left: auto;
    }

    .navbar_coca_cola .navbar-nav > li > a 
    {
        color: rgb(0, 0, 0);
    }
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */

    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(151, 151, 151);
    }

    .navbar_coca_cola .navbar-nav .nav-item 
    {
    margin-top: 0px;
    }
    /* CSS rule to overwrite the bootstrap.css rules for setting the active
    font color and background colour
    */
    .navbar_coca_cola .navbar-nav .nav-item > .active,
    .navbar_coca_cola .navbar-nav > .active > a:hover,
    .navbar_coca_cola .navbar-nav > .active > a:focus 
    {
    color: #ffffff; /* Font color for active font */
    background-color: rgb(151, 151, 151); /* Blue color for background */
    }
    /* A set of CSS rules to change the Bootstrap defaults for the menu link
    text color, hover, background, focus
    */
    /* CSS rule to overwrite the bootstrap.css text hover color on the navbar
    */
    .navbar_coca_cola .navbar-nav > li > a:hover,
    .navbar_coca_cola .navbar-nav > li > a:focus 
    {
    color: rgb(8, 49, 114);
    }

    /* These next two CSS rules control the style of the icon bar */ 

    .navbar_coca_cola .navbar-toggler 
    { 

        border-color: white; 

    } 



    .navbar_coca_cola  .navbar-toggler-icon 
    { 

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 

    } 

    /* Let's style the dropdown menu */ 

    .dropdown-menu 
    { 

        text-align: -webkit-right; 

        background-color: #000000; 

        margin-top: 20px; /* Experiment to move the dropdown menu down */ 

    } 



    .dropdown-menu .dropdown-item 
    { 

        color: #ffffff; 

    } 



    .dropdown-menu .dropdown-item:hover 
    { 

        color: #030303; 

        background-color: rgb(151, 151, 151); 

    }

    .navbar_coca_cola .navbar-toggler 
    { 

        outline: none !important; 

    } 

    .btn-primary
    {
        background-color: #000000;
    }

        /* CSS rule to style the footer */ 

    .footer 
    { 

        background-color: #257600; 

        height: 60px; 

    } 

    

    .navbar-text > a 
    { 

        font-size: 10px; 

    } 

    

    .navbar-text > p 
    { 

        color: rgb(151, 151, 151); 

        font-size: 18px; 

    } 

    

    .copyright 
    { 

        padding-top: 20px; 

    } 

    

    .social 
    { 

        padding-top: 7px; 

    } 

    .footer { 

        color: #030303; 
    
        background-color: rgb(0, 0, 0); /* Set navbar footer background color same as header */ 
    
        height: 50px; 
    
    } 
    
    
    
    .navbar-text > a { 
    
        font-size: 10px; 
    
    } 
    
    
    
    .navbar-text > p { 
    
        color: rgb(255, 255, 255); 
    
        font-size: 14px; 
    
        text-decoration: none; 
    
    } 
    
    
    
    .copyright { 
    
        padding-top: 8px; 
    
    } 
    
    
    
    .social { 
    
        padding-top: 0px; 
    }


    #card-text_bottom
    {

        background-color: rgb(215,215,215);
        color: #000000;
        padding: 0.5rem;
        font-size: 10px;
    }

    .model3D  {
        height: 450px;
    }

}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {  }


/* CSS rule to style the footer */ 

